.Legislator {
	display: inline-block;
}
.Legislator-avatarImg {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,0.12),-1px 1px 0 0 rgba(0,0,0,0.12);
    border: 3px solid white;
}